@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
}
h1, h2, p, header {
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 10vw;
}
h2 {
    padding-top: 2vw;
    font-size: 5vw;
}
button {
    background-color: white;
    border-style: none;
    font-size: 2vw;
    padding: 1vw 2vw;
    margin: 0vw 2vw;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
button:hover {
    background-color: yellow;
}
#home-content, #menu-paper, #menu-plastic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}
#home-content {
    padding: 0;
    margin: 0;
    background: url('./images/background.jpg');
    background-size: 100vw;
    background-position: bottom;
    height: 50vw;
}
#menu-paper {
    background-image: url('./images/paper.jpg');
    line-height: 40vw;
}
#menu-plastic {
    background-image: url('./images/plastic.jpg');
    line-height: 40vw;
}