@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik';
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-size: 10vw;
    margin: 0;
}
button {
    border-style: none;
    font-size: 2vw;
    padding: 1vw 2vw;
    margin: 0vw 2vw;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
button:hover {
    background-color: yellow;
}