@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
}
h1, h2, p, header {
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 5em;
}
h2 {
    padding-top: 2vw;
    font-size: 2em;
}
button {
    background-color: white;
    border-style: none;
    font-size: 1.5em;
    padding: .25em .5em;
    margin: 0vw 2vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
button:hover {
    background-color: yellow;
}
#home-content, #menu-paper, #menu-plastic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}
#home-content {
    margin: 20px;
    padding: 20px;
    background: url('./images/background.jpg');
    background-size: 100vw;
    background-position: bottom;
    height: 50vw;
}
.menu-container {
    margin: 20px;
    background-size: auto;
    background-position: center;
}
#paper {
    background-image: url('./images/paper.jpg');
    
}
#plastic {
    background-image: url('./images/plastic.jpg');
}
#map {
    margin: 20px;
    height: 50vh;
    width: auto;
    background-image: url('./images/gmap.jpeg');
}
.menu-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.menu-item {
    margin: 20%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7)

}